*{
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none !important ;
    color: gray !important;
}
header{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: rgb(255 124 53 / 17%) -1px 6px 20px 0px;
    background-color: rgb(247, 253, 255);
    padding: 15px;
    z-index: 1;
   
}
li:hover{
    color :rgb(5, 183, 5);
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    font-size: 20px;
    
    padding: 0px 15px;
    justify-items: center;
  
    
}
header h1{
    color: rgb(5, 183, 5);
    font-size: 40px;
}
header span{
    color:rgb(250, 107, 5) 
}
i{
    padding: 20px;
}
header a:hover{
    color: rgb(0, 207, 0) !important;
cursor: pointer;
}
.section1{
    padding: 50px;
    display:flex ;
    justify-content: space-around;
    background-color: antiquewhite;
}

.section1 img{
    width: 700px !important;
    height: 500px;
    border-radius: 20px;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
 button{
    background-color: rgb(0, 207, 0);
   
    border-radius: 30px !important ;
    height: 30px;
    width: 150px; 
    border-style: none;
    cursor: pointer;
 }

 .section2{
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px;
background-image: url(pexels-photo-113338.jpeg);
background-repeat: no-repeat;
background-size:100% 100%;
color:white ;
 }
.section2 img{
    width: 150px;
    height: 150px;
    background-color:white ;
    border-radius: 50%;

}
.deals{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 10px 10px;


}

.section3{
    display: flex;
    flex-direction: column;
    padding: 80px ;
    align-items: center;
    justify-content: center;

}
.list2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px 0;
}
.fruits{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
}
.fruits img{
    width: 200px;
    height: 200px;
   padding: 20px;
}
.fruits h2{
    color: rgb(250, 107, 5);
    font-size: 25px;
    text-align: center;
}
.fruits h1{
    font-size: 25px;
    color:rgb(0, 207, 0) ;
text-align: center;
}
.fruits div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    box-shadow: -2px 4px 10px #00000040;
    background-color: rgb(250, 250, 250);
    border-radius: 10%;
}
.section4{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: antiquewhite;
}
.par{
    display: flex;
    flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 120px;
}

.par h1{
    font-size: 40px;
}

.section5{
    display:flex ;
    flex-direction: column;
   
  background-color:antiquewhite;
  

}
.section5 div{
display:flex;
gap: 0px 30px;
padding: 10px 20px;

}
.section5 img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.ident{
    display: flex;
    flex-direction: column;
    box-shadow: 15px 12px 10px 12px #6464642b;
    padding: 10px 30px;
    background-color: white;  
}

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 143px; 
}
.questions{
  display: flex;
  padding: 30px 20px;
  
  gap: 50px;
 
}
.comms{
    gap: 50px;
}

.section6 h1{
    font-size: 30px;
}
.section6 div{
    background-color: aliceblue;
     
    gap: 188px;
    
}
.coms  div {
    gap:0  20px;
}
.section6 input{

height: 40px;
border-style: none;

}
.section7{
    display: flex;
    background-color: rgba(10, 0, 97, 0.896);
    gap: 25px;
}
.section7 h1{
   font-size:  30px;
   color: white;
}
.section7 div{
    width: 25%;
    padding: 20px ;
}
.social{
    display: flex;
}

.section7 h1{
    color: white;  
    padding-bottom: 40px;
}
.last{
    width: 300px !important;
    display: flex;
    flex-direction: column;
    
  
}
.last h1{
    color: rgb(5, 183, 5);
    font-size: 30px;
    text-align: left;
 
}

 .last span{
    color:rgb(250, 107, 5) ;
    
}
.last h2{
    font-size: 20px;
    color: white;
   
}
.spon{
    display:flex ;
    flex-wrap: wrap;
     gap: 20px;
     width: 300px !important;
  
     
   
}
.section7 img{
    width: 100px;
    height:100px;
 border-radius: 30%;
    
}
.section7 p{
    color: white;
}
.section7 i{
    color: white;
    font-size: 20px;
}
.section7 a{
    color: white;
}
section{
    padding: 30px;
}
.comment{
    padding: 10px;
    background-color: white !important ;
   text-align: center;
   font-size: 30px;
}
.section3 button{
    background-color: transparent;

    
    border: 1px solid rgb(0, 214, 71);
   
}

@media only screen and (max-width: 600px) {
    
    *{
        flex-wrap: wrap ;
        
    
       overflow-x: hidden;
    }
    .comment{
        width: fit-content;
        padding: 0;
    }
    ul{
        flex-wrap: nowrap;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        position:relative;
    }
 
    section{
        padding: 20px 0 !important;
    }
    .section4 img{
        width: 210px;
    }
    .section1 img{
        width: 273px !important;
        height: 233px;

    }
    .section3 .section4 .section5 .section6 {
        padding: 0 0;
    }
    .section5 div{
        padding: 0px 0px;
        box-shadow: none;
    }
    .fruits{
        padding: 10px 0px;
    }
.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section6 div{
    width: 330px;
    gap: 39px ;
}
.section3{
    padding: 0px;
}
.questions{
    padding: 0px 0px;
}
.section2{
    display: none;
}
#more {display: none;}
.section7{
    flex-wrap: wrap;
    flex-direction: column;
    
}
.section7 div{
    width: 100%;
}

}
header button{
    background-color: transparent;
}
.added-item img , .added-item i{
    display: none;
}
.added-item p{
    font: 16px;
}
.added-item{
    display: flex;
    justify-content: space-between;
}
.iconss{
    display:flex;


}
#more2{
    display: none;
}
#more3{
    display: none;
}

.dropdown{
    width: 200px;
    padding: 8px;
    border: 1px solid black;
    position: absolute !important;
    display: none;
    background-color: white;
   
       
        height: 200px;
        overflow-y: auto;
      

}
.parent{
    position: relative;
}
.vegetables{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
}
.vegetables img{
    width: 200px;
    height: 200px;
   padding: 20px;
}
.vegetables h2{
    color: rgb(250, 107, 5);
    font-size: 25px;
    text-align: center;
}

.vegetables h1{
    font-size: 25px;
    color:rgb(0, 207, 0) ;
text-align: center;
}
.vegetables div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    box-shadow: -2px 4px 10px #00000040;
    background-color: rgb(251, 251, 251);
    border-radius: 10%;
}


.added-item button{
display: none;
}
.added-item h1{
    font-size: 15px
}
.added-item h2{
    font-size: 15px
}
.cont{
    position: relative;
    width: fit-content !important;
}
.parent{
    width: 60px;
}
#number{
    position: absolute;
    right: 0;
}
.Drinks{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
}
.Drinks img{
    width: 200px !important;
    height: 200px !important;
   padding: 20px !important;
}
.Drinks h2{
    color: rgb(250, 107, 5);
    font-size: 25px;
    text-align: center;
}

.Drinks h1{
    font-size: 25px;
    color:rgb(0, 207, 0) ;
text-align: center;
}
.Drinks div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    box-shadow: -2px 4px 10px #00000040;
    background-color: rgb(251, 251, 251);
    border-radius: 10%;
}


